@CHARSET "UTF-8";

body {
	font-family: "Courier New", Courier, monospace;
	background-color: #fff;
}

small {
	font-size: 80%;
}

a:link, a:visited {
	text-decoration: none;
}

.select-response {
	margin-bottom: 50px;
	margin-top: 50px;
}

.title {
	font-weight: bold;
	font-size: 200%;
	text-align: center;
	margin-top: 50px;
}

.response-content {
	border-top: 1px solid black;
	margin-top: 30px;
}

.no-results {
	margin-top: 150px;
	font-size: 250%;
	font-weight: bold;
	opacity: 0.5;
}

.back-btn {
	width: 15%;
    height: 32px;
    background-color: #F8F8FF;
    border: 1px solid #F8F8FF;
    display: block;
    border-radius: 5px;
    padding: 7px;
    margin: auto;
    text-align: center;
    color: black;
}

.back-btn:hover {
	background-color: #DCDCDC;
	border-style: outset;
	color: #FFF;
}

.back-btn:active {
	margin-top: 2px;
}

